<div class="job-card-container container mx-auto px-xl-0 px-3 pb-5">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="row">
                <a class="navbar-brand" href="/">
                    <img src="./assets/images/logo-web.png" alt="SearchLogo Application" height="65">
                </a>
            </div>
            <div class="row d-flex flex-column row-gap-3 pt-4">
                <div class="info">
                    <a href="tel:062 777 45 29"
                        class="d-flex text-white align-items-center justify-content-start column-gap-2">
                        <iconify-icon icon="fluent:call-28-regular"></iconify-icon>
                        <span>062 777 45 29</span>
                    </a>
                </div>
                <div class="info">
                    <a href="mailTo:info@stellensuche.ch"
                        class="d-flex text-white align-items-center justify-content-start column-gap-2">
                        <iconify-icon icon="material-symbols:mail-outline"></iconify-icon>
                        <span>info@stellensuche.ch</span>
                    </a>
                </div>
                <div class="info">
                    <a href="https://maps.app.goo.gl/XJzj4mRv8qcSxkzi7" target="_blank"
                        class="d-flex text-white align-items-center justify-content-start column-gap-2">
                        <iconify-icon icon="ph:map-pin-fill"></iconify-icon>
                        <span class="d-flex">Sternschnuppen GmbH<br>Postfach 125, 5707 Seengen</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 d-flex justify-content-start pt-sm-0 pt-4">
            <div class="link-head">
                <h1>Quick links</h1>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white hover-text fs-3" href="#">Stelle suchen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white hover-text fs-3" href="#">Fachkräfte suchen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white hover-text fs-3" href="#">Für Arbeitgeber</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 d-flex justify-content-start pt-lg-0 pt-4">
            <div class="link-head">
                <h1>Information</h1>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white hover-text fs-3" href="#">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white hover-text fs-3" href="#">Terms &amp; Bedingungen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white hover-text fs-3" href="#">Datenschutzrichtlinie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white hover-text fs-3" href="#">Über uns</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 pt-lg-0 pt-4">
            <div class="link-head">
                <h1>Newsletter</h1>
                <div class="w-100">
                    <form class="d-flex flex-row row-gap-3 column-gap-2 search-form" role="search">
                        <input class="form-control email-letter" type="search" placeholder="Enter Email"
                            aria-label="Search" required>
                        <button class="btn btn-pill btn-primary fs-3 btn-submit py-3" type="submit">Abonnieren</button>
                    </form>
                </div>
                <div class="social">
                    <div class="link-head">
                        <h1>Follow US</h1>
                        <div class="social-icons d-flex align-items-center  justify-content-start">
                            <iconify-icon icon="tabler:brand-twitter"></iconify-icon>
                            <iconify-icon icon="ph:instagram-logo"></iconify-icon>
                            <iconify-icon icon="circum:facebook"></iconify-icon>
                            <iconify-icon icon="prime:twitter"></iconify-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cc w-100" style="background-color: var(--bg-color);">
    <div
        class="w-100 container px-xl-0 px-3 d-flex flex-sm-row flex-column row-gap-3 justify-content-between align-items-center mx-auto py-3">
        <span class="fs-3">© 2024 | Stellensuche Limited | Alle Rechte vorbehalten</span>
        <div class="d-flex column-gap-2 ">
            <span class="fs-3 fw-semibold ">WIR AKZEPTIEREN&nbsp;</span>
            <span class="payment payment-sm payment-provider-amazon"></span>
            <span class="payment payment-sm payment-provider-mastercard"></span>
            <span class="payment payment-sm payment-provider-paypal"></span>
            <span class="payment payment-sm payment-provider-applepay"></span>
        </div>
    </div>
</div>