<div class="pre-header header__background">
    <div class="pre__header container py-2 mx-auto px-xl-0 px-sm-3 px-1">
        <div class="header__flex d-flex align-items-center justify-content-between">
            <div class="flex__social d-none d-md-flex align-items-center column-gap-3">
                <a href="https://www.facebook.com" target="_blank" class="d-flex align-items-center">
                    <iconify-icon icon="ri:facebook-fill" class="font-md cursor-pointer"></iconify-icon>
                </a>
                <a href="https://www.instagram.com" target="_blank" class="d-flex align-items-center">
                    <iconify-icon icon="ri:instagram-fill" class="cursor-pointer"></iconify-icon>
                </a>
                <a href="https://www.youtube.com" target="_blank" class="d-flex align-items-center">
                    <iconify-icon icon="bi:youtube" class="cursor-pointer"></iconify-icon>
                </a>
            </div>
            <div
                class="flex__right d-flex align-items-center justify-content-md-end justify-content-center column-gap-3 w-100">
                <div
                    class="right__box-1 right-box d-flex align-items-center justify-content-md-end justify-content-center column-gap-2">
                    <a href="https://maps.app.goo.gl/XJzj4mRv8qcSxkzi7" target="_blank"
                        class="d-flex align-items-center justify-content-md-end justify-content-center column-gap-2">
                        <iconify-icon icon="ph:map-pin-fill"></iconify-icon>
                        <p class="d-flex">Sternschnuppen GmbH &nbsp;<span class="d-sm-flex d-none">Postfach 125,
                                5707 Seengen</span></p>
                    </a>
                </div>
                <div
                    class="right__box-1 right-box d-flex align-items-center justify-content-md-end justify-content-center column-gap-2">
                    <a href="mailTo:info@stellensuche.ch"
                        class="d-flex align-items-center justify-content-md-end justify-content-center column-gap-2">
                        <iconify-icon icon="material-symbols:mail-sharp"></iconify-icon>
                        <p>info@stellensuche.ch</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-bg text-white">
    <div class="container mx-auto d-flex justify-content-between align-items-center py-2 mx-auto px-xl-0 px-sm-3 px-3">
        <div class="d-flex justify-content-between align-items-center navBar-width z-2 ">
            <div class="d-flex align-items-center column-gap-4">
                <a class="navbar-brand" href="/">
                    <img src="./assets/images/logo-web.png" alt="SearchLogo Application" height="60">
                </a>
                <div class="d-lg-flex d-none">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-white hover-text fs-3" href="/stelle-suchen.html">Stelle suchen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white hover-text fs-3" href="#">Fachkräfte suchen</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="d-lg-flex d-none justify-content-center  align-items-center column-gap-2">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white hover-text fs-3" href="#">Für Arbeitgeber</a>
                    </li>
                </ul>
                <div class="d-flex column-gap-3 btn-flex">
                    <a href="#" class="btn custom-btn-style btn-pill btn-outline-primary btn-lg text-white">
                        Login
                    </a>
                    <a href="#" class="btn custom-btn-style btn-pill btn-primary btn-lg ">
                        Registrierung
                    </a>
                </div>
            </div>
        </div>
        <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon fs-2"></span>
        </button>
        <div class="Navbar-mobile collapse" id="navbarSupportedContent" style="z-index: 11;">
            <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-2">
                    <li class="nav-item">
                        <a class="nav-link text-white hover-text fs-3" href="/stelle-suchen.html">Stelle suchen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white hover-text fs-3" href="#">Fachkräfte suchen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white hover-text fs-3" href="#">Für Arbeitgeber</a>
                    </li>
                </ul>
                <div class="d-flex flex-column align-items-start justify-content-start row-gap-3 btn-flex">
                    <a href="#" class="btn custom-btn-style btn-pill btn-outline-primary btn-lg text-white">
                        Login
                    </a>
                    <a href="#" class="btn custom-btn-style btn-pill btn-primary btn-lg ">
                        Registrierung
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>