@media only screen and (min-width: 1320px) {
    .container {
        max-width: 1320px !important;
    }

}

@media only screen and (min-width:992px) {
    .navBar-width {
        width: 100%;
    }
}

@media only screen and (min-width:768px) {
    .navbar-collapse {
        display: block;
    }
}

@media only screen and (max-width: 1020px) {
    .container {
        max-width: 100% !important;
    }

    .select-wrapper {
        width: 200px;
    }

}

@media only screen and (max-width:992px) {
    .Navbar-mobile {
        position: absolute;
        top: 100px;
        background-color: var(--secondary-color);
        width: 100%;
        left: 0;
        padding: 20px 10px;
    }

    .Navbar-mobile .nav-item {
        align-items: start;
    }

    .btn-flex .custom-btn-style {
        width: 200px !important;
    }

    .cards-container .row .last-card-container {
        margin-left: -0 !important;
    }

    .jb-container {
        flex-direction: column;
        row-gap: 20px;
    }

    .sidebar {
        width: 100%;
        padding: 20px 30px;
    }

    .sidebar-detail-list span {
        width: 25%;
    }

    .sidebar-detail-list iconify-icon {
        width: 4%;
    }

}

@media only screen and (max-width: 768px) {
    .hero-section {
        padding: 50px 0;
    }

    .hero-section .img {
        width: 260px;
        margin-bottom: -50px !important;
        padding-top: 30px;
    }

    .cards-container .card-head h1 {
        font-size: 26px;
    }

    .job-card {
        padding: 26px 30px;
    }

    .job-card h1 {
        font-size: 24px;
    }

    .job-card-container .button {
        width: 100%;
        margin: 20px 0 !important;
    }

    .link-head .email-letter {
        width: 100%;
        max-width: 500px;
        padding-left: 20px;
        padding-right: 54px;
    }

    .link-head .email-letter~button {
        height: 55px !important;
        margin-left: -60px !important;
    }

    .filter {
        display: block;
        position: absolute;
        right: 20px;
        top: 49.2%;
        transform: translateY(-50%);
        cursor: pointer;
        background-color: var(--bg-color);
        width: 40px;
        height: 40px;
        border-radius: 1000px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
    }

    .filter iconify-icon {
        font-size: 20px;
    }

    .select-container {
        position: absolute;
        top: 60px;
        opacity: 0;
        visibility: hidden;
        box-shadow: 0px 4px 49.5px 0px rgba(0, 0, 0, 0.065);
        background-color: #fff;
        border-radius: 1000px;
        transition: all 120ms ease-in-out;
    }

    .select-container.selectOpen {
        opacity: 1;
        top: 80px;
        visibility: visible;
    }


    .first-select::after {
        display: none;
    }

    .select-wrapper {
        padding: 10px 0;
        width: 100%;
        border-radius: 1000px;
    }

    .select-selected {
        background-color: transparent;
    }

    .select-arrow {
        right: 25px;
    }

    .select-options {
        left: 0;
    }

    .select-container .h-auto:last-child .select-wrapper .select-options {
        left: -20px;
    }
}

@media only screen and (max-width: 640px) {
    .flex__right .right-box iconify-icon {
        font-size: 16px;
    }

    .flex__right .right-box p {
        font-size: 14px;
    }

    .btn-flex .custom-btn-style {
        width: 100% !important;
        padding: 12px 0 !important;
    }

    .hero-txt h1 {
        font-size: 42px;
    }

    .hero-txt p {
        font-size: 20px !important;
    }

    .btn-submit {
        width: 100%;
    }

    .hero-section .img {
        width: 220px;
        margin-bottom: -50px !important;
        padding-top: 30px;
    }

    .link-head .email-letter~button {
        width: 130px;
        height: 55px !important;
        margin-left: -60px !important;
    }

    .select-container {
        flex-direction: column;
        border-radius: 20px;
        top: 50px;
    }

    .select-wrapper {
        padding: 10px 20px;
    }

    .select-wrapper::after {
        display: none;
    }

    .select-arrow {
        right: 11px;
    }

    .select-options {
        width: 100%;
    }

    .select-container.selectOpen {
        opacity: 1;
        top: 70px;
    }

    .detail-job {
        padding: 0 30px !important;
    }

    .sidebar-detail-list span {
        width: 100%;
    }

    .sidebar-detail-list iconify-icon {
        width: auto;
        margin-right: 10px;
    }

    .description h1 {
        font-size: 22px;
    }

    .description-para p {
        font-size: 16px;
    }

    .description .list-group li {
        padding: 4px 0;
        font-size: 16px;
    }

    .controls .bottom-controls {
        bottom: 5px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}