@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    padding: 0;
    margin: 0 !important;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif !important;
}

:root {
    --main-color: #39ABB8;
    --primary-color: #7BEDF4;
    --secondary-color: #233C5A;
    --bg-color: #E6F0F2;
    --black-color: #000000;
    --white-color: #ffffff;
    --text-color: #0C6069;
}

html,
body {
    overflow-x: hidden;
    background-color: var(--white-color) !important;
    scrollbar-color: var(--secondary-color) #f0f0f0;
}

a {
    text-decoration: none !important;
    color: inherit;
}

.hover-text:hover {
    color: var(--primary-color) !important;
}

.header__background {
    background-color: #F4F6F9;
    color: var(--black-color);
}

.header__flex iconify-icon {
    font-size: 20px;
    color: var(--secondary-color);
    transition: color 0.3s ease;
}

.header__flex iconify-icon:hover {
    color: var(--main-color);
}

.flex__right .right-box {
    cursor: pointer;
}

.flex__right .right-box a {
    color: var(--black-color);
}

.flex__right .right-box p {
    font-size: 16px;
    transition: color 0.3s ease;
}

.flex__right .right-box:hover p,
.flex__right .right-box:hover iconify-icon {
    color: var(--main-color);
}

.navbar-bg {
    background: var(--secondary-color) !important;
}

.btn-flex .custom-btn-style {
    font-weight: 400;
    font-size: 18px;
    border: none !important;
    outline: none;
}

.btn-flex .custom-btn-style:nth-child(1) {
    width: 130px;
    border: 1px solid var(--white-color) !important;
}

.btn-flex .custom-btn-style:nth-child(2) {
    width: 130px;
    border: 1px solid transparent;
    background-color: var(--primary-color);
    width: 200px;
    outline: none;
    padding: 10px 0;
    color: var(--black-color);
    transition: all 250ms ease-in-out;
}

.btn-flex .custom-btn-style:nth-child(1):hover {
    border-color: var(--primary-color) !important;
    background-color: transparent;
    color: var(--primary-color) !important;
}

.btn-flex .custom-btn-style:nth-child(2):hover {
    background-color: #49c6d3;
}

/* ******************** HOME PAGE STYLING START *********************** */

/* Hero Section Styling */
.bg-color {
    background-color: var(--bg-color);
}

.hero-section {
    padding-top: 30px;
}

.hero-section .img {
    width: 500px;
}

.hero-section .img img {
    width: 100%;
}

.hero-txt h1 {
    font-size: 54px;
    color: var(--text-color);
    font-weight: 700;
}

.search-form {
    width: 100%;
    max-width: 800px;
}

.search-form input {
    border-radius: 10000px !important;
    outline: none;
    border: none;
    height: 65px;
    padding-left: 60px;
    font-size: 16px;
    border: 1px solid transparent;
}

.search-form input:focus,
.search-form input:hover {
    box-shadow: none;
    border: 1px solid var(--secondary-color);
}

.input-group-append {
    position: absolute;
    left: 10px;
    z-index: 10;
    height: 100%;
    border-radius: 1000px;
}

.input-group-append .input-group-text {
    border: none;
    height: 100%;
}

.input-group-append .input-group-text iconify-icon {
    font-size: 26px;
}

.btn-submit {
    width: 280px;
    height: 60px;
    background-color: var(--main-color) !important;
    border: none !important;
    outline: none;
    transition: all 123ms ease-in-out;
}


.btn-submit:hover {
    background-color: #2997a3 !important;
}

.cards-container .card-head h1 {
    font-size: 32px;
    padding-bottom: 18px;
    color: var(--text-color);
    font-weight: 700;
}

.cards-container .card {
    border-radius: 20px;
    border: 1px solid #C8CCD0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    row-gap: 10px;
}

.cards-container .card p {
    font-size: 16px;
    padding-bottom: 8px;
}

.cards-container .row .last-card-container {
    margin-left: -16px !important;
}

.cards-container .card .btn-submit {
    width: 100%;
    height: 50px;
}

.job-card-container h1 {
    font-size: 32px;
    padding-bottom: 18px;
    color: var(--text-color);
    font-weight: 700;
}

.job-card {
    border: 1px solid #C8CCD0;
    border-radius: 20px;
    padding: 30px 40px;
    cursor: pointer;
    transition: all 159ms ease-in-out;
}

.job-card:hover {
    background-color: var(--bg-color);
    border-color: var(--bg-color);
}

.job-card:hover h1 {
    text-decoration: underline;
}

.job-card h1 {
    font-size: 26px;
    width: 100%;
    max-width: 650px;
    color: #083D7B;
    font-weight: 600;
}

.job-card .job-btn {
    width: 220px;
    height: 55px;
    background: transparent;
    border: 1px solid #8E8E8E;
    color: #042852;
    font-size: 16px;
    transition: all 129ms ease-in-out;
}

.job-card .job-btn:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: #fff;
}

.job-card .job-btn~button {
    font-size: 26px;
    cursor: pointer;
}

.job-card .job-btn~button:hover span:first-child iconify-icon {
    color: #d72d3e;
}

.job-card .sub-details {
    color: #4AB7C3;
}

.sub-details .detail span {
    font-size: 16px;
    font-weight: 600;
}

.sub-details .detail iconify-icon {
    font-size: 20px;
}

.job-card-container .button {
    width: 320px;
    margin: 30px 0 !important;
    height: 62px;
    border: 1px solid transparent;
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 18px;
    text-align: center;
}

.job-card-container .button:hover,
.job-card-container .button:active {
    background: transparent !important;
    color: var(--main-color) !important;
    border-color: var(--main-color) !important;
}

/* ******************** HOME PAGE STYLING END *********************** */




/* ********************* STELLE PAGE STYLING START **************** */
.stelle-cards h1 {
    font-weight: 400;
    font-size: 24px;
    color: var(--black-color);
    padding-bottom: 8px;
}

.filterForm.search-form {
    max-width: 100%;
}

.filterForm .form-control:hover,
.filterForm .form-control:focus {
    border: 1px solid transparent;
}

.filter {
    display: none;
}

.filterForm .btn-pill {
    padding: 0;
}

.select-wrapper {
    position: relative;
    width: 240px;
    padding-right: 30px;
}

.select-wrapper::after {
    content: "";
    position: absolute;
    background: #233C5A40;
    width: 1px;
    height: 40px;
    left: -10px;
    top: 50%;
    z-index: 5;
    transform: translateY(-50%);
}

.select {
    position: relative;
    display: inline-block;
    width: 100%;
}

.select-selected {
    background-color: var(--white-color);
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #747474;
    transition: all 120ms ease-in-out;
}

.select-selected.colorToggle {
    color: var(--main-color);
}

.select-selected.selected {
    color: var(--black-color);
}

.select:hover .select-selected,
.select:hover .select-arrow iconify-icon {
    color: var(--main-color);
}

.select-options {
    display: none;
    position: absolute;
    left: -50px;
    top: 40px;
    background-color: var(--white-color);
    border: 1px solid var(--white-color);
    border-radius: 11px;
    width: 260px;
    height: 235px;
    overflow-y: scroll;
    scrollbar-color: var(--main-color) #dddddd;
    z-index: 6;
    padding: 10px 16px;
    box-shadow: 0px 4px 45.6px 3px rgba(0, 0, 0, 0.03);
    opacity: 0;
    transition: all 120ms ease-in-out;
    animation: Opacity 120ms ease-in-out both;
}

@keyframes Opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.select-arrow {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-35%);
    transition: all 120ms ease-in-out;
    transform-origin: center;
}

.select-arrow iconify-icon {
    font-size: 20px;
    color: var(--black-color);
    transition: all 120ms ease-in-out;
}

.select-open .select-arrow iconify-icon {
    color: var(--main-color);
}

.select-open .select-arrow {
    transform: translateY(-60%) rotate(180deg);
}

.select-option {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: all 120ms ease-in-out;
}

.select-option:hover {
    background-color: var(--bg-color);
    border-radius: 11px;
}



/* JOB DETAIL PAGE STYLING */

.detail-job {
    border: 1px solid #C8CCD0;
    border-radius: 20px;
    padding: 0 40px !important;
    position: relative;
}

#job-detail-section {
    position: relative;
}

#job-detail-section::after {
    content: "";
    position: absolute;
    background: #00000020;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -10px;
    z-index: 5;
}


.detail-job .job-card {
    border: none;
    padding: 30px 0 20px 0;
    cursor: auto;
}

.detail-job .job-card:hover {
    background-color: transparent;
}

.detail-job .job-card:hover h1 {
    text-decoration: none;
}

.description h1 {
    color: #233C5A;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 8px;
}

.description-para p {
    font-size: 18px;
    line-height: 29px;
}


.description .list-group {
    margin-left: 12px !important;
}

.description .list-group li {
    padding: 6px 0;
    font-size: 18px;
    font-weight: 400;
}

.sidebar {
    background-color: #fff;
    border: 1px solid #C8CCD0;
    border-radius: 20px;
    padding: 20px 40px;
    width: 450px;
    height: 100%;
}

.sidebar .head h1 {
    font-size: 24px;
    font-weight: 600;
}

.sidebar .descrip-img>div {
    background-color: #F4F6F9;
    padding: 12px 20px;
    border-radius: 8px;
    text-align: center;
}

.sidebar .descrip-img>div img {
    width: 100%;
    max-width: 120px;
    margin: auto;
    text-align: center;
}

.sidebar .sidebar-detail h1 {
    font-size: 20px;
    font-weight: 600;
}

.sidebar-detail-list span {
    width: 100%;
    color: #787878;
    font-size: 16px;
}

.sidebar-detail-list span~div {
    color: var(--black-color) !important;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
}

.sidebar-detail-list iconify-icon {
    font-size: 22px;
    width: 11%;
    color: #233C5A;
}

.web iconify-icon {
    font-size: 19px;
}


/* VIDEO PLAYER STYLING */
.c-video {
    width: 100%;
    max-width: 750px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.video {
    border-radius: 12px;
    width: 100%;
}

.controls {
    z-index: 5;
    width: 100%;
}

.controls .bottom-controls {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 25px;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 700px;
    background-color: #051327e2;
    -webkit-backdrop-filter: blur(22px);
    backdrop-filter: blur(22px);
    border-radius: 8px;
    padding: 10px 20px;
    column-gap: 16px;
    opacity: 0;
    visibility: hidden;
    transition: all 120ms ease-in-out;
}

.c-video:hover .controls .bottom-controls {
    opacity: 1;
    visibility: visible;
}


.bottom-controls #playPauseBtn {
    border: none;
    background-color: transparent;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 22px;
}

.controls .center-btn {
    z-index: 10;
    background-color: #14D1E5;
    width: 70px;
    height: 70px;
    border-radius: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.controls .center-btn iconify-icon {
    font-size: 30px;
}

#playPauseBtn div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playPauseBtn #pause {
    display: none;
}

#playPauseBtn iconify-icon {
    font-size: 24px;
    width: 20px;
}

.controls .progress {
    height: 5px;
    background-color: #878787;
    transition: height 100ms ease-in-out;
}

.controls .progress:hover {
    height: 8px;
}

.controls progress {
    display: block;
    width: 0;
    height: 100%;
    margin-top: 0.125rem;
    background-color: #fff;
    border: none;
    color: #0095dd;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    transition: width 300ms linear;
}

.right-controls iconify-icon {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

/* Customize the appearance of the sound bar container */
.sound {
    position: relative;
}

.sound-bar {
    width: 80px;
    position: absolute;
    transform: rotate(270deg);
    top: -60px;
    left: -30px;
}

/* Customize the appearance of the range input */
.sound-bar input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    border-radius: 4px;
    background-color: #878787;
    outline: none;
    cursor: pointer;
    display: none;
    animation: Opacity 120ms ease-in-out both;
}

/* Customize the appearance of the range thumb */
.sound-bar input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 1000px;
    border: none !important;
    background-color: #fff;
    cursor: pointer;
}


.footer {
    background-color: #1B203E !important;
    padding-bottom: 0 !important;
}

footer .info iconify-icon {
    font-size: 20px;
}

.info a {
    transition: all 125ms ease-in-out;
}

.info a span {
    font-size: 18px !important;
    font-weight: 400;
}

.info a:hover {
    color: var(--primary-color) !important;
}

.link-head h1 {
    font-size: 28px;
    color: #4AB7C3;
}

.link-head h1~ul li a {
    font-size: 18px !important;
}

.link-head .email-letter {
    width: 643px;
    padding-left: 20px;
    height: 55px !important;
    padding-right: 54px;
}

.link-head .email-letter~button {
    height: 55px !important;
    margin-left: -60px !important;
}

.social .link-head h1 {
    font-size: 26px;
    padding-top: 50px;
}

.social .social-icons {
    transition: all 125ms ease-in-out;
    column-gap: 14px;
}

.social .social-icons iconify-icon {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    transition: all 125ms ease-in-out;
}

.social .social-icons iconify-icon:hover {
    color: var(--main-color) !important;
}

.social .social-icons iconify-icon:last-child {
    font-size: 20px;
}